* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, #E0E1DD, #acb6e5);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}


.card {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 350px;
  width: 100%;
}

.card p {
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
}

.card button {
  background: #122d55;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.card button:hover {
  background: #778DA9;
  transform: translateY(-2px);
}

#message {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: green;
}


@media (max-width: 480px) {
  .card {
    padding: 20px 15px;
    max-width: 90%;
  }

  .card p {
    font-size: 14px;
  }

  .card button {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .back-button {
    width: 35px;
    height: 35px;
    top: 15px;
    left: 15px;
  }

  .back-button img {
    width: 100%;
  }
}