* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #E0E1DD, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}



.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 25px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 100px;
}

    .card-header h2 {
      font-size: 1.5rem;
      color: #2c3e50;
      font-family: 'Inter', sans-serif;
    }

  
 .back-button {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 20px;
      height: 20px;
      color: white;
      border: none;
      padding:10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
  
  .service-list {
    list-style: none;
  }
  
  .service-list li {
    background-color: #f0f0f0;
    margin-bottom: 12px;
    padding: 12px 18px;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .service-list li:hover {
    background-color: #e0e0e0;
  }
  
  .service-list li a {
    text-decoration: none;
    color: #333;
    display: block;
      font-family: 'Montserrat', sans-serif;
  }
  