* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(to right, #E0E1DD, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container {
  background-color: white;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
   font-family: 'Inter', sans-serif;
}

.signup-form input[type="text"],
.signup-form input[type="tel"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.signup-container input[type="text"],
.signup-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.signup-container input[type="text"]:focus,
.signup-container input[type="tel"]:focus,
.signup-container select:focus {
  border-color: #3a224e;
  outline: none;
}

.input-box {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #454141;
  box-sizing: border-box;
  background-color: #fff;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;

}

.checkbox-label input {
  margin-right: 10px;
}

.checkbox-label a {
  color: #7c3aed;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.checkbox-label a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #122d55;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Montserrat', sans-serif;
}

button[type="submit"]:hover {
  background-color: #778DA9;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.login-link a {
  color: #7e57c2;
  text-decoration: none;
    text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }
}