* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: linear-gradient(to right, #E0E1DD, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
}

.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  color: #0b2e59;
}

section {
  margin-bottom: 25px;
}

h2 {
  color: #0b2e59;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: 'Inter', sans-serif;
}

ul {
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin-bottom: 20px;
}


footer {
  text-align: center;
  font-size: 0.9em;
  color: #666;

  margin-top: 70px;
}


@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.5em;
  }

  .container {
    padding: 15px;
  }

  .logo {
    max-width: 100px;
  }
}