* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background: linear-gradient(135deg, #a1c4fd);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  color: white;
  border: none;
  padding:10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

section {
  margin-bottom: 25px;
}

h2 {
  color: #0b2e59;
  margin-bottom: 10px;
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #666;
  margin-top: 40px;
}


@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.5em;
  }

  .container {
    padding: 15px;
  }

  .logo {
    max-width: 100px;
  }
}
